// stylelint-disable
/* $grey-base:  #181b1e !default; */
$grey-base:  #0D1013 !default;
/* $grey-base: #050607 !default; */
$grey-100:   lighten($grey-base, 85%);
$grey-200:   lighten($grey-base, 80%);
$grey-300:   lighten($grey-base, 70%);
$grey-400:   lighten($grey-base, 60%);
$grey-500:   lighten($grey-base, 50%);
$grey-600:   lighten($grey-base, 40%);
$grey-650:   lighten($grey-base, 25%);
$grey-700:   lighten($grey-base, 15%);
$grey-750:   lighten($grey-base, 12.5%);
$grey-800:   lighten($grey-base, 10%);
$grey-900:   lighten($grey-base, 5%);

$secondary:  $grey-600 !default;

$white:      #fff;

$blue:       #20a8d8 !default;
$red:        #f86c6b !default;
$orange:     #fd8c00 !default;
$yellow:     #ffc107 !default;
$green:      #4dbd74 !default;
$light-blue: #63c2de !default;

$body-bg:       $grey-800 !default;
$body-color:    $grey-200 !default;

$severity-critical: $red;
$severity-high: $orange;
$severity-medium: $yellow;
$severity-low: $green;
$severity-info: $blue;
$severity-unassigned: #777777;
$severity-label-bg: $grey-900 !default;

// Components
//
// Define common padding and border radius sizes and more.

$border-color:                      $grey-900 !default;
$component-active-color:            $grey-750 !default;

// Aside

$aside-menu-color:                  $grey-100 !default;
$aside-menu-bg:                     $grey-700 !default;

// Avatars

$avatar-status-border-color:        $grey-700 !default;

// Dropdowns

$dropdown-bg:                       $grey-700 !default;
$dropdown-border-color:             $border-color !default;
$dropdown-divider-bg:               $grey-750 !default;

$dropdown-link-color:               $grey-200 !default;
$dropdown-link-hover-color:         $grey-200 !default;
$dropdown-link-hover-bg:            $grey-800 !default;

$dropdown-link-disabled-color:      $grey-600 !default;

$dropdown-header-color:             $grey-200 !default;

// Forms

$input-bg:                              $grey-650 !default;
$input-disabled-bg:                     $grey-700 !default;

$input-color:                           $grey-200 !default;
$input-border-color:                    $border-color !default;

$input-focus-bg:                        $input-bg !default;
$input-focus-color:                     $input-color !default;

$input-placeholder-color:               $grey-400 !default;
$input-plaintext-color:                 $body-color !default;

$input-group-addon-color:               $input-color !default;
$input-group-addon-bg:                  $grey-750 !default;
$input-group-addon-border-color:        $input-border-color !default;

$custom-control-indicator-bg:           $grey-300 !default;

$custom-control-indicator-disabled-bg:          $grey-200 !default;
$custom-control-label-disabled-color:           $grey-600 !default;

$custom-select-disabled-bg: $input-disabled-bg !default;
$custom-select-disabled-color: $input-color !default;

  // Modals

$modal-content-bg:                  $grey-700 !default;
$modal-content-border-color:        $border-color !default;

$modal-header-border-color:         $border-color !default;

// Navs

$nav-link-disabled-color:           $grey-600 !default;

$nav-tabs-border-color:             $border-color !default;
$nav-tabs-link-hover-border-color:  $border-color $border-color $border-color !default;
$nav-tabs-link-active-color:        $grey-100 !default;
$nav-tabs-link-active-bg:           $grey-750 !default;
$nav-tabs-link-active-border-color: $border-color $border-color $border-color !default;

$tab-content-bg:                    $grey-700 !default;

$tags-input-bg:             $grey-650 !default;
$tags-input-border-color:   $grey-800 !default;
$toggle-handle-bg:          $grey-600 !default;

// Navbar
$navbar-bg:                $grey-700 !default;
$navbar-color:             $grey-300 !default;
$navbar-hover-color:       $grey-200 !default;
$navbar-active-color:      $grey-200 !default;
$navbar-disabled-color:    $grey-600 !default;

// Pagination

$pagination-bg:                     $grey-750 !default;
$pagination-border-color:           $border-color !default;

$pagination-hover-bg:               $grey-800 !default;
$pagination-hover-border-color:     $border-color !default;

$pagination-disabled-color:         $grey-600 !default;
$pagination-disabled-bg:            $grey-900 !default;
$pagination-disabled-border-color:  $border-color !default;

// Breadcrumb
$breadcrumb-bg:            $grey-700 !default;
$breadcrumb-divider-color: $grey-100 !default;
$breadcrumb-active-color:  $grey-100 !default;

// Breadcrumb menu
$breadcrumb-menu-color:    $grey-100 !default;

// Jumbotron

$jumbotron-bg:             $grey-600 !default;

// Cards
$card-bg:                  $grey-700 !default;
$card-border-color:        $border-color !default;
$card-cap-bg:              $grey-750 !default;

// Sidebar
$sidebar-color:                       $grey-100 !default;
$sidebar-bg:                          $grey-700 !default;
$sidebar-borders: (
  right: (
    size:                             1px,
    style:                            solid,
    color:                            $border-color
  )
) !default;

$sidebar-nav-link-active-bg:          $grey-750 !default;

// Footer

$footer-bg:                           $grey-700 !default;
$footer-color:                        $body-color !default;

// Progress bars

$progress-bg:                       $grey-650 !default;


// List group

$list-group-bg:                     $grey-750 !default;
$list-group-border-color:           $border-color !default;
$list-group-hover-bg:               $grey-800 !default;

$list-group-disabled-color:         $grey-600 !default;

$list-group-action-color:           $grey-200 !default;

$list-group-action-active-color:    $body-color !default;
$list-group-action-active-bg:       $grey-200 !default;

// Switches

$switch-bg:                         $grey-750 !default;

// Tables

$table-bg:                    transparent !default;
$table-border-color:          $border-color !default;

$table-head-bg:               $grey-750 !default;
$table-head-color:            $body-color !default;

// List group with accent
$list-group-accent-divider-bg: $grey-800 !default;

// Popovers
$popover-bg:           $grey-900 !default;
$popover-border-color: rgba($white, .2) !default;
$popover-header-bg:    lighten($popover-bg, 3%) !default;

$widget-1: #21A8D9;
$widget-2: #A66BF8;
$widget-3: #6D6BF8;
$widget-4: #F86D6B;

:root {
  --severity-critical: #{$severity-critical};
  --severity-high: #{$severity-high};
  --severity-medium: #{$severity-medium};
  --severity-low: #{$severity-low};
  --severity-info: #{$severity-info};
  --severity-unassigned: #{$severity-unassigned};

  --component-active-color: #{$component-active-color};

  --widget-1: #{$widget-1};
  --widget-2: #{$widget-2};
  --widget-3: #{$widget-3};
  --widget-4: #{$widget-4};
}

// Modal override
$modal-md: 600px !default;
