// If you want to override variables do it here
@import "variables";

// Import styles
@import "@coreui/coreui/scss/coreui";

@import 'vue-easy-pie-chart/dist/vue-easy-pie-chart.css';

@import "code";

// If you want to add something do it here
@import "custom";

// ie fixes
@import "ie-fix";

@import "vue-multiselect/dist/vue-multiselect.min.css";
