.editorconfig
.git/
.github/
CODE_OF_CONDUCT.md
LICENSE
README.md
SECURITY.md
docker/
docs/
node_modules/
release.sh
snapshot.sh
!docker/etc/nginx/templates/default.conf.template
!docker/docker-entrypoint.d/*.sh
