{
  "all": true,
  "include": [
    "src/**/*.js",
    "src/**/*.vue"
  ],
  "exclude": [
    "**/*.spec.js",
    "**/*.cy.js",
    "cypress/**/*.*",
    "node_modules/**/*.*"
  ],
  "reporter": [
    "lcov",
    "text",
    "html"
  ],
  "report-dir": "coverage",
  "extension": [
    ".js",
    ".vue"
  ],
  "check-coverage": false
}
