.hash-verification-trigger {
  display: inline-block;
  padding-bottom: 2px;
  border-bottom: 1px dashed currentColor;
  line-height: 1;
}
.hash-verification-trigger:hover {
  text-decoration: none;
  border-bottom-style: solid;
}
