name: Lint
on:
  push:
    branches:
      - 'master' # Default branch
      - 'feature-**' # Feature branches
  pull_request:
    branches:
      - 'master' # Default branch
      - 'feature-**' # Feature branches

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6.0.2

      - name: Set up NodeJs
        uses: actions/setup-node@v6.2.0
        with:
          node-version: '20'
          cache: 'npm'

      - name: Install Dependencies
        run: npm install

      - name: Lint Prettier
        run: npm run prettier
        continue-on-error: false

      - name: Lint ESLint
        run: npm run eslint
        continue-on-error: true
